{% extends "base.html.tera" %}

{% block title %}My Chats{% endblock %}

{% block content %}
    <h1>Your Chats</h1>
    <ul class="list-group">
        {% for chat in chats %}
            <li class="list-group-item">
                <a href="/ws/{{ chat.id }}">{{ chat.name }}</a> <!-- Link to the WebSocket room -->
            </li>
        {% endfor %}
    </ul>
{% endblock %}
